.bodycontent#about
  %h1 About JSConf
  
  %p JSConf 2009 is a conference devoted to the programming language we all love to hate and hate to love, JavaScript. This is conference will be thoughtful, content driven, and exemplify the very nature of JavaScript. The core focus of this conference is to expose some of the details about JavaScript that are often overlooked and present them more as a discussion with the audience. The content of the conference should cater to all types of JavaScript users from client interfaces to server development to testing. No matter which programming language you love, you know of the pleasure and pain of JavaScript programming.

  %p Come to this conference if you love JavaScript, come if you hate it, come if you don't even know how to program. Whatever drives you to come, you can be sure of one thing, there will be a lot of exciting and invigorating discussions to be had. After all, we are talking about JavaScript here and its used by every web framework.

  %p We are trying to conduct this conference in such a manner that it addresses the core issues of the community as well as announcing cutting edge technologies in a language that often gets overlooked. The content and conference style will be different from most other conferences, not barcamp-style and not multi-track style, but somewhere between the two. 

  %p We are trying to make something different and we are trying to do it with JavaScript.
  
  %h2 About the Conference Curators
  %p JSConf 2009 is being put on by the <a href="http://www.iterativedesigns.com">Iterative Designs</a> team driven by a strong desire to build a meaningful JavaScript community. We are putting on this conference with no ambition or desire to financially profit from it, in fact any money that is not spent on food, drinks, speakers, and, most importantly, you is going to be donated to charity. We believe this sets the right tone for the JavaScript community which so readily gives technology and ideas freely. We do not have an exact number or charity yet, but will make all information publicly available once the details are finalized. If you want more information about Iterative Designs, the conference, and the donations - please contact us at <a href="mailto:info@jsconf2009.com">info@jsconf2009.com</a>.
  %p Graphic Designs for JSConf 2009 were provided by <a href="http://www.perphic.com">Perphic</a>.