%h1 Accommodations

.bodycontent
  %center
    %a{"href"=>"http://www.hotelpalomar-arlington.com/"}
      %img{"src"=>"/images/arlington_1c_invert.jpg"}
  .quicknote
    $159 per night
    .note Call 1-866-505-1001

  %p JSConf 2009 will be held at the swanky and sophisticated <a href="http://www.hotelpalomar-arlington.com/">Hotel Palomar</a> in Arlington, Virginia. We are very excited about having the event at Hotel Palomar, its elegance and modern design will serve as the perfect backdrop for the event! We are working closely with Hotel Palomar to ensure a perfect event and we have arranged a special room rate for guest coming from out of town. The rate is $159 per night for a single or double room, the rate is good for the dates of April 23-26, 2009. The rooms are absolutely spectacular and most have a wonderful view of the Potomac River and city. For reservations please call 1-866-505-1001 and mention that you are with the JS Conference 2009 group, their courteous and helpful staff will help make sure you get the proper reservations.
  %h4 Location 
  %center
    %a{"href"=>"http://maps.google.com/maps?rls=en-us&ie=UTF-8&oe=UTF-8&um=1&q=hotel+palomar+arlington&fb=1&cid=0,0,8917210912810631245&sa=X&oi=local_result&resnum=1&ct=image"}
      %img{"src"=>"/images/mapdata.gif"}
    %a{"href"=>""}
      %img{"src"=>"/images/mapdata.gif"}
      
  %p The hotel is located in the heart of Rosslyn, Virginia, just steps away from the public transit system called the <a href="http://www.wmata.com/">Metro</a>. Parking is available, but we highly recommend the safe, clean, and cost effective <a href="http://wmata.com/getting_around/">Metro</a>. The hotel is right across the Potomac River from Georgetown and Washington DC. All of the museums and sights of Washington DC are right near the hotel, we strongly recommend planning on visiting some of the great museums on Sunday April 26th, 2009. The <a href="http://www.nasm.si.edu/">Smithsonian National Air and Space Museum</a>, <a href="http://www.newseum.org/">Newseum</a>, and <a href="http://www.spymuseum.org/">International Spy Museum</a> are our top favorites.
  

  %h2 Getting Here

  %h4 Flying
  %p There are two major airports that service the Washington DC metro area, <a href="http://www.mwaa.com/national/">Reagan National Airport</a> and <a href="http://www.metwashairports.com/Dulles/">Dulles International Airport</a>. Reagan is the closest airport to the hotel, located just 5 short metro stops on the Blue line away from Hotel Palomar. We recommend taking advantage of the low ticket prices to purchase your flights as soon as possible. 
  %h4 Driving
  %p As mentioned above, we recommend taking the metro over driving to the conference, it will save you time, money, frustration, and the environment. However if you are driving the hotel offers Valet parking with full in-and-out privileges for $30 per night, and self parking for $18.