#agenda.bodycontent
  %h1 Agenda
  %p JSConf 2009 will be a one track conference of some of the greatest thought leaders in the JavaScript community. The speakers and topics are presented in detail on the <a href="/speakers.html">Speakers</a> section. The current agenda for JSConf 2009 is presented below, speakers will be assigned to slots in the coming weeks as well as more details about the special social events. During all 20 minute breaks, there will be refreshments provided. Please check back often or follow our <a href="http://www.twitter.com/jsconf">Twitter feed</a> for updates as the schedule will not be finalized until March 15, 2009. We will be posting to Twitter as soon as new speakers, special events, and final agenda items are made public. 
  
  %h2 Friday April 24th, 2009
  %table
    %tr
      %th 7:30AM - 9:15AM
      %td 
        .title Conference Registration and Breakfast
    %tr
      %th 9:00AM - 9:15AM
      %td 
        .title Opening Remarks
        .speaker The JSConf 2009 Team
    %tr
      %th 9:15AM - 10:05AM
      %td 
        .title  Objective-J Language and Cappuccino Frameworks
        .speaker Francisco Tolmasky, 280 North
    %tr
      %th 10:05AM - 10:55AM
      %td 
        .title  Better Data Management with TaffyDB
        .speaker Ian Smith, QuoteWizard
    %tr
      %th 10:55AM - 11:15AM
      %td 
        .title  20 Minute Break
    %tr
      %th 11:15AM - 12:05PM
      %td 
        .title  Deploying web applications on the desktop
        .speaker Jeff Haynie, Appcelerator
    %tr
      %th 12:05AM - 12:55PM
      %td 
        .title  Apache CouchDB
        .speaker Chris Anderson, CouchDB
    %tr
      %th 1:00PM - 2:00PM
      %td 
        .title  Buffet Lunch
    %tr
      %th 2:00PM - 2:50PM
      %td 
        .title  Controlling Virtual Reality and Simulation with JavaScript
        .speaker Andrew Turner, CTO of FortiusOne and Co-founder of Mapufacture
    %tr
      %th 2:50PM - 3:40PM
      %td 
        .title  Introduction to SproutCore
        .speaker Mike Subelsky, OtherInbox
    %tr
      %th 3:40PM - 4:00PM
      %td 
        .title  20 Minute Break
    %tr
      %th 4:00PM - 4:50PM
      %td 
        .title  The Real Time Web with XMPP
        .speaker Jack Moffit, ChessPark
    %tr
      %th 4:50PM - 5:40PM
      %td 
        .title  Speaker Yet To Be Announced
        
  %h4 Craft Beer and Wine Tasting Social Event from 6:30PM - 8:30PM
  %p Sample craft beers and wine with the speakers and attendees of JSConf 2009. We will be providing some of the greatest micro and craft brews as well as wines to refresh your palate after a day full of information. Mingle, make friends, and build relationships with others in the JavaScript community. There will be light hors d'oeuvres, beer, wine, and soft drinks provided during the two hours of the event.
  
  
  %h2 Saturday April 26th, 2009
  %table
    %tr
      %th 7:30AM - 9:30AM
      %td 
        .title Breakfast
    %tr
      %th 9:00AM - 9:50AM
      %td 
        .title  Speaker Yet To Be Announced
    %tr
      %th 9:50AM - 10:40AM
      %td 
        .title  PhoneGap for building iPhone and Android applications
        .speaker Brian LeRoux
    %tr
      %th 10:40AM - 11:00AM
      %td 
        .title  20 Minute Break
    %tr
      %th 11:00AM - 11:50PM
      %td 
        .title  Speaker Yet To Be Announced
    %tr
      %th 11:50AM - 12:40PM
      %td 
        .title  Speaker Yet To Be Announced
    %tr
      %th 12:45PM - 1:45PM
      %td 
        .title  Buffet Lunch
    %tr
      %th 1:45PM - 2:35PM
      %td 
        .title  Speaker Yet To Be Announced
    %tr
      %th 2:35PM - 3:25PM
      %td 
        .title  Speaker Yet To Be Announced
    %tr
      %th 3:25PM - 3:45PM
      %td 
        .title  20 Minute Break
    %tr
      %th 3:45PM - 4:35PM
      %td 
        .title  Speaker Yet To Be Announced
    %tr
      %th 4:35PM - 5:25PM
      %td 
        .title  Speaker Yet To Be Announced
    %tr
      %th 5:25PM - 6:00PM
      %td 
        .title  Closing Remarks
        .speaker The JSConf 2009 Team