.bodycontent
  %h1 Agenda
  %p We are still preparing the final agenda, but it will be posted here soon. Please check back often or follow our <a href="http://www.twitter.com/jsconf">Twitter feed</a> for updates, we will be posting to Twitter as soon as new speakers, special events, and final agenda items are made public. 
  %h2 Special Events
  %p We are planning at least one evening event that will be included in the price of admission. Details for this social event will be made available in the coming weeks. Please check back often or follow our <a href="http://www.twitter.com/jsconf">Twitter feed</a> for updates. 