#agenda.bodycontent
  %h1 Agenda
  %p JSConf 2009 will be a one track conference of some of the greatest thought leaders in the JavaScript community. The speakers and topics are presented in detail on the <a href="/speakers.html">Speakers</a> section. The current agenda for JSConf 2009 is presented below, speakers will be assigned to slots in the coming weeks as well as more details about the special social events. During all 20 minute breaks, there will be refreshments provided. Please check back often or follow our <a href="http://www.twitter.com/jsconf">Twitter feed</a> for updates as the schedule will not be finalized until March 15, 2009. <strong>One item of note</strong>,  if you want to present at JSConf 2009 on a topic, product, or idea that you have, there will be a side room for lightning talks and hackfests. The conference will blend the best parts of a normal lecture style conference and a "-camp" style conference. We will be posting to Twitter as soon as new speakers, special events, and final agenda items are made public. 
  
  %h2 Friday April 24th, 2009
  %table
    %tr
      %th 7:30AM - 9:15AM
      %td 
        .title Conference Registration and Breakfast
    %tr
      %th 9:00AM - 9:15AM
      %td 
        .title Opening Remarks
        .speaker The JSConf 2009 Team
    %tr
      %th 9:15AM - 10:05AM
      %td 
        .title  
          %a{"href"=>"speakers.html#tolmasky"} Objective-J Language and Cappuccino Frameworks
        .speaker Francisco Tolmasky, 280 North
    %tr
      %th 10:05AM - 10:55AM
      %td 
        .title 
          %a{"href"=>"speakers.html#smith"} Better Data Management with TaffyDB
        .speaker Ian Smith, QuoteWizard
    %tr
      %th 10:55AM - 11:15AM
      %td 
        .title  20 Minute Break
    %tr
      %th 11:15AM - 12:05PM
      %td 
        .title 
          %a{"href"=>"speakers.html#haynie"} Deploying web applications on the desktop
        .speaker Jeff Haynie, Appcelerator
    %tr
      %th 12:05AM - 12:55PM
      %td 
        .title 
          %a{"href"=>"speakers.html#anderson"} Apache CouchDB
        .speaker Chris Anderson, CouchDB
    %tr
      %th 1:00PM - 2:00PM
      %td 
        .title  Buffet Lunch
    %tr
      %th 2:00PM - 2:50PM
      %td 
        .title 
          %a{"href"=>"speakers.html#turner"} Controlling Virtual Reality and Simulation with JavaScript
        .speaker Andrew Turner, CTO of FortiusOne and Co-founder of Mapufacture
    %tr
      %th 2:50PM - 3:40PM
      %td 
        .title 
          %a{"href"=>"speakers.html#campbell"} JavaScript on the Server Side with Axiom Stack
        .speaker Nick Campbell, Axiom Stack
    %tr
      %th 3:40PM - 4:00PM
      %td 
        .title  20 Minute Break
    %tr
      %th 4:00PM - 4:50PM
      %td 
        .title 
          %a{"href"=>"speakers.html#moffit"} The Real Time Web with XMPP
        .speaker Jack Moffit, ChessPark
    %tr
      %th 4:50PM - 5:40PM
      %td 
        .title 
          %a{"href"=>"speakers.html#resig"} Secret Topic
        .speaker John Resig, Mozilla &amp; jQuery
        
  %h4 Craft Beer and Wine Tasting Social Event from 6:30PM - 8:30PM
  %p Sample craft beers and wine with the speakers and attendees of JSConf 2009. We will be providing some of the greatest micro and craft brews as well as wines to refresh your palate after a day full of information. Mingle, make friends, and build relationships with others in the JavaScript community. There will be light hors d'oeuvres, beer, wine, and soft drinks provided during the two hours of the event.
  
  
  %h2 Saturday April 25th, 2009
  %table
    %tr
      %th 7:30AM - 9:30AM
      %td 
        .title Breakfast
    %tr
      %th 9:00AM - 9:50AM
      %td 
        .title 
          %a{"href"=>"speakers.html#guillermo"} JavaScript Video Games with gameQuery
        .speaker Harry Guillermo, Urban Science App
    %tr
      %th 9:50AM - 10:40AM
      %td 
        .title 
          %a{"href"=>"speakers.html#leroux"} PhoneGap for building iPhone and Android applications
        .speaker Brian LeRoux, Nitobi
    %tr
      %th 10:40AM - 11:00AM
      %td 
        .title  20 Minute Break
    %tr
      %th 11:00AM - 11:50PM
      %td 
        .title 
          %a{"href"=>"speakers.html#zyp"} The Reality of End-to-End JavaScript
        .speaker Kris Zyp, SitePen and Dojo
    %tr
      %th 11:50AM - 12:40PM
      %td 
        .title 
          %a{"href"=>"speakers.html#stefanov"} YUI 3.x or Kick Ass Web Apps
        .speaker Stoyan Stefanov, Yahoo!
    %tr
      %th 12:45PM - 1:45PM
      %td 
        .title  Buffet Lunch
    %tr
      %th 1:45PM - 2:35PM
      %td 
        .title 
          %a{"href"=>"speakers.html#huggins"} Bending JavaScript to your will, or why testing JavaScript in the browser can drive you crazy
        .speaker Jason Huggins, Sauce Labs
    %tr
      %th 2:35PM - 3:25PM
      %td 
        .title 
          %a{"href"=>"speakers.html#worth"} LEarning jQuery UI
        .speaker Richard D. Worth, jQuery UI
    %tr
      %th 3:25PM - 3:45PM
      %td 
        .title  20 Minute Break
    %tr
      %th 3:45PM - 4:35PM
      %td 
        .title 
          %a{"href"=>"speakers.html#subelsky"} Introduction to SproutCore
        .speaker Mike Subelsky, Other Inbox
    %tr
      %th 4:35PM - 5:25PM
      %td 
        .title 
          %a{"href"=>"speakers.html#higgins"} Dojo: Patterns for Lovers of JavaScript
        .speaker Peter Higgins, Dojo
    %tr
      %th 5:25PM - 6:00PM
      %td 
        .title  Closing Remarks
        .speaker The JSConf 2009 Team