%h1 Curators
.bodycontent
  %p With JSConf 2009, we wanted to rethink the concept of "sponsors". Following <a href="http://www.rubyfringe.com">other leaders</a> who have already left their marks on the conference style, we seek to continue evolving the idea of curators as the way to coordinate the event. Curators contribute to the cause because they believe in the community and idea of the conference. They feel that the discussions, content, and interactions within the community are critical to its success and that by providing the right environment, they will help push the community into its next great step. We are looking for other companies or individuals who want to help with this conference and believe in its core proposition - giving JavaScript at least the same respect as other languages. 

  %p 
    If you are interested in helping out in any fashion, please try to contact us through <a href='mailto:info@jsconf2009.com'>email</a>, on the IRC channel (irc.freenode.net#jsconf2009), or twitter (<a href="http://www.twitter.com/jsconf">@jsconf</a>). Either way thank you for your interest, we appreciate it and hope that you can attend JSConf 2009!