
#leftbox
  #notice
    %h1 WE ARE SOLD OUT!!!
    %p 
      We are working to see if we can arrange with the sponsors and support staff to make some extra tickets available. If you would like to be on the waiting list, please email <a href="mailto:info@jsconf2009.com">info@jsconf2009.com</a>. We will try our best, but we cannot promise anything. To everyone with a ticket, we salute you!
    %hr
    %p 
      Be sure to 
      %a{"href"=>"http://kimpton.ibe.netbooker.com/web/FrontController.nb4?module=PropertySearch&operation=SinglePropertySearch&instanceId=31&propertyCode=ARP&execute=yes&chainCode=KC&lookAndFeelId=1987&rateCode=060460&arriveDate=23&arriveMonth=04&arriveYear=2009&departDate=27&departMonth=04&departYear=2009"}="reserve your hotel room at Hotel Palomar"
      %br
      before 
      %strong March 22, 2009 
      to get the JSConf rate.
      
  #only_at_jsconf
    %h3 
      %span Only at JSConf 2009
    #marketing_copy
      %a{"href"=>"/speakers.html"}
        #s3slider
          %ul#s3sliderContent
            %li.s3sliderImage
              %img{"src"=>"/images/mobilejs.jpg"}
              %span Write JavaScript for the iPhone, Android, and the Blackberry
            %li.s3sliderImage
              %img{"src"=>"/images/desktopjs.jpg"}
              %span Learn about Cross Platform Desktop Applications with JavaScript
            %li.s3sliderImage
              %img{"src"=>"/images/browserjs.jpg"}
              %span Develop Incredibly Rich Web Applications with Cutting Edge Frameworks
            %li.s3sliderImage
              %img{"src"=>"/images/testjs.jpg"}
              %span See Automated Web Browser Testing with JavaScript
            %li.s3sliderImage
              %img{"src"=>"/images/desktopjs.jpg"}
              %span  Cross Platform Applications with JavaScript
  
  
  
  #featured_speakers
    #speaker_nav
      %a#left{"href"=>"javascript:void(0)"}
        %img{"src"=>"/images/larrow.jpg", "alt"=>"Left"}
      %span Displaying 1 of 3
      %a#right{"href"=>"javascript:void(0)"}
        %img{"src"=>"/images/rarrow.jpg", "alt"=>"Right"}
    %h3
      %span Featured Speakers
    .speakers
      #slide1.slide
      
        %a{"href"=>"/speakers.html#higgins"}
          %img{"src"=>"/images/speakers/peter_higgins.jpg", "alt"=>"Peter Higgins, Dojo Toolkit Project Lead"}

        %a{"href"=>"/speakers.html#stefanov"}
          %img{"src"=>"/images/speakers/stoyan_stefanov.jpg", "alt"=>"Stoyan Stefanov, YUI"}
        %a{"href"=>"/speakers.html#huggins"}
          %img{"src"=>"/images/speakers/jason_huggins.jpg", "alt"=>"Jason Huggins, Sauce Labs"}
        %a{"href"=>"/speakers.html#haynie"}
          %img{"src"=>"/images/speakers/jeff_haynie.jpg", "alt"=>"Jeff Haynie, CEO of Appcelerator"}
        %a{"href"=>"/speakers.html#resig"}
          %img{"src"=>"/images/speakers/john_resig.jpg", "alt"=>"John Resig, Mozilla/jQuery"}
        %a{"href"=>"/speakers.html#francisco"}
          %img{"src"=>"/images/speakers/francisco.jpg", "alt"=>"Francisco Tolmasky, Creator of Objective-J"}
      #slide2.slide      
        %a{"href"=>"/speakers.html#zyp"}
          %img{"src"=>"/images/speakers/kris_zyp.jpg", "alt"=>"Kris Zyp, SitePen"}
        %a{"href"=>"/speakers.html#campbell"}
          %img{"src"=>"/images/speakers/nick_campbell.jpg", "alt"=>"Nick Campbell, Axiom Stack"}
        %a{"href"=>"/speakers.html#guillermo"}
          %img{"src"=>"/images/speakers/harry_guillermo.jpg", "alt"=>"Harry Guillermo, gameQuery"}
        %a{"href"=>"/speakers.html#moffitt"}
          %img{"src"=>"/images/speakers/jack_moffitt.jpg", "alt"=>"Jack Moffitt, ChessPark"}
        %a{"href"=>"/speakers.html#leroux"}
          %img{"src"=>"/images/speakers/brian_leroux.jpg", "alt"=>"Brian LeRoux, Co-creator of XUI and contributor to PhoneGap"}
        %a{"href"=>"/speakers.html#worth"}
          %img{"src"=>"/images/speakers/richard_worth.jpg", "alt"=>"Richard Worth, jQuery UI"}
        
      #slide3.slide    
        %a{"href"=>"/speakers.html#smith"}
          %img{"src"=>"/images/speakers/ian_smith.jpg", "alt"=>"Ian Smith, TaffyDB"}
        %a{"href"=>"/speakers.html#turner"}
          %img{"src"=>"/images/speakers/andrew_turner.jpg", "alt"=>"Andrew Turner"}
        %a{"href"=>"/speakers.html#anderson"}
          %img{"src"=>"/images/speakers/chris_anderson.jpg", "alt"=>"Chris Anderson, CouchDB Guru"}
        %a{"href"=>"/speakers.html#subelsky"}
          %img{"src"=>"/images/speakers/mike_subelsky.jpg", "alt"=>"Mike Subelsky, co-founder of the web startup OtherInbox.com, and the co-organizer of Ignite Baltimore"}

  #where_to_meet
    %a{"href"=>"/accommodations.html"}
      %h3
        %span Where to Meet
      %p Hotel Palomar Arlington  
      %p JSCONF Special Rate of $159 per night
      
  #latest_news
    %h3
      %span Latest News
    .postings
      - @limited_articles = true
      = partial('articles')
      .all_articles
        %a{"href"=>"/news.html"} More News Articles
#sidebar
  #sponsors_sidebar
    %h3
      %span Sponsors
    %h4 Premier Sponsors
    .sponsorlist
      %a{"href"=>"http://www.rga.com"}
        %img{"src"=>"/images/rga.gif", "alt"=>"R/GA"}
      %a{"href"=>"http://www.joyent.com"}
        %img{"src"=>"/images/joyent.gif", "alt"=>"Joyent"}
      %a{"href"=>"http://www.sun.com/emrkt/startupessentials/"}
        %img{"src"=>"/images/sun.gif", "alt"=>"Sun Startup Essentials"}
    %h4 Curators
    .sponsorlist
      %a{"href"=>"http://www.iterativedesigns.com"}
        %img{"src"=>"/images/iterativedesigns.png", "alt"=>"Iterative Designs"}
        
      %a{"href"=>"http://www.perphic.com"}
        %img{"src"=>"/images/perphic.png", "alt"=>"Perphic"}
      %a{"href"=>"http://www.launchboxdigital.com"}
        %img{"src"=>"/images/launch-box-digital.gif", "alt"=>"LaunchBox Digital"}

    %h4 Media Sponsors
    .sponsorlist
      %a{"href"=>"http://www.oreilly.com"}
        %img{"src"=>"/images/oreilly.gif", "alt"=>"O'Reilly Publishing"}
      %a{"href"=>"http://www.jsmag.com"}
        %img{"src"=>"/images/jsmag.png", "alt"=>"JSMag for JavaScript Developers"}
    
  
    .interested 
      %a{"href"=>"/sponsors.html"} Interested in Sponsorship?
  
  #badges
  
    %img{"src"=>"http://jsconf.s3.amazonaws.com/badges/jsconf.jpg", "alt"=>"JSConf 2009 - Be there or be static", "style"=>"vertical-align:top", "width"=>"182"}
    %img{"src"=>"http://jsconf.s3.amazonaws.com/badges/attendee.jpg", "alt"=>"JSConf 2009 - Be there or be static", "width"=>"182"}
  
  #tweet_sidebar
    %h3
      %span Tweet Up
    #jsconftweets
  
  