#leftbox

  #marketing_copy
    

  #featured_speakers
    %h3
      %span Featured Speakers
    .speakers
      %a{"href"=>"/speakers.html"}
        %img{"src"=>"/images/speakers/andrew_turner.jpg", "alt"=>"Andrew Turner, CTO of FortiusOne and co-founder of Mapufacture"}
      %a{"href"=>"/speakers.html"}
        %img{"src"=>"/images/speakers/ian_smith.jpg", "alt"=>"Ian Smith, TaffyDB"}
      %a{"href"=>"/speakers.html"}
        %img{"src"=>"/images/speakers/jeff_haynie.jpg", "alt"=>"Jeff Haynie, CEO of Appcelerator"}
      %a{"href"=>"/speakers.html"}
        %img{"src"=>"/images/speakers/francisco.jpg", "alt"=>"Francisco Tolmasky, Creator of Objective-J"}
      %a{"href"=>"/speakers.html"}
        %img{"src"=>"/images/speakers/chris_anderson.jpg", "alt"=>"Chris Anderson, CouchDB Guru"}
      %a{"href"=>"/speakers.html"}
        %img{"src"=>"/images/speakers/mike_subelsky.jpg", "alt"=>"Mike Subelsky, co-founder of the web startup OtherInbox.com, and the co-organizer of Ignite Baltimore"}

  #where_to_meet
    %a{"href"=>"/accommodations.html"}
      %h3
        %span Where to Meet
      %p Hotel Palomar Arlington  
      %p JSCONF Special Rate of $159 per night
      
  #latest_news
    %h3
      %span Latest News
    .postings
      .posting
        %h4 
          Conference Registration is NOW OPEN
          %span.details January 23, 2009
        .content
          %p As you may have noticed, we have a new site, new branding, and a lot more of information. We have been working very hard to make this conference a stellar first JSConf. As of today, <a href="http://jsconf2009.eventbrite.com">conference registration</a> is now open and available, you can pay with a credit card or PayPal account. Also we have badges that you can ue to help show the world that you believe in JSConf. Put them on your website, blog, or twitter background.
          %p
            %center
              %img{"src"=>"http://jsconf.s3.amazonaws.com/badges/jsconf.jpg", "alt"=>"JSConf 2009 - Be there or be static", "style"=>"vertical-align:top"}
              %img{"src"=>"http://jsconf.s3.amazonaws.com/badges/attendee.jpg", "alt"=>"JSConf 2009 - Be there or be static"}
      .posting
        %h4 
          Announcing JSConf 2009 Dates
          %span.details January 5, 2009
        .content
          %p We are quite excited and happy to announce the official date and place for JSConf 2009. After weeks of hard work, we have been able to secure the luxurious and convenient <a href="http://www.hotelpalomar-arlington.com/">Hotel Palomar Arlington</a> in Rosslyn, Virginia for Friday April 24 and Saturday April 25 of 2009. We have posted all the details about special room rates, locations, and local airports on the <a href="/accommodations.html">accommodations page</a>. The hotel is a prime location that will allow both local and long distance guests to easily navigate Washington DC without a car. We are still finalizing speakers and pricing, but the dates and place for the conference are now locked. The rest of the information should be available in the coming weeks. We are quite excited about the conference and hope that you will join us in putting JavaScript in the limelight it rightfully deserves.
#sidebar
  #sponsors_sidebar
    %h3
      %span Sponsors
    %h4 Premium Sponsors
    .sponsorlist
      %a{"href"=>"http://www.iterativedesigns.com"}
        %img{"src"=>"/images/iterativedesigns.png", "alt"=>"Iterative Designs"}
      %a{"href"=>"http://www.launchboxdigital.com"}
        %img{"src"=>"/images/launch-box-digital.gif", "alt"=>"LaunchBox Digital"}
  
    .interested 
      %a{"href"=>"/sponsors.html"} Interested in Sponsorship?
  
  #tweet_sidebar
    %h3
      %span Tweet Up
    #jsconf_twitters
  
  
  
  / %h4 Sponsors
  / .sponsorlist
  /   %a{"href"=>"/sponsors.html"}
  /     %img{"src"=>"/images/sponsorshipopp.gif", "alt"=>"Sponsorship Opportunity Available"}
  
  / %h4 Curators
  / .sponsorlist
  /   %a{"href"=>"http://www.iterativedesigns.com"}
  /     %img{"src"=>"/images/iterativedesigns.png", "alt"=>"Iterative Designs"}
  /   %a{"href"=>"http://www.perphic.com"}
  /     %img{"src"=>"/images/perphic.png", "alt"=>"Perphic"}
  / 
  
/ 
/ 
/ %h1 Home
/ .bodycontent
/   %p JSConf 2009 is a conference devoted to the programming language we all love to hate and hate to love, JavaScript. This is conference will be thoughtful, content driven, and exemplify the very nature of JavaScript. The core focus of this conference is to expose some of the details about JavaScript that are often overlooked and present them more as a discussion with the audience. The content of the conference should cater to all types of JavaScript users from client interfaces to server development to testing. No matter which programming language you love, you know of the pleasure and pain of JavaScript programming. 
/   %p Come to this conference if you love JavaScript, come if you hate it, come if you don't even know how to program. Whatever drives you to come, you can be sure of one thing, there will be a lot of exciting and invigorating discussions to be had. After all, we are talking about JavaScript here and its used by every web framework.
/   %p We are trying to conduct this conference in such a manner that it addresses the core issues of the community as well as announcing cutting edge technologies in a language that often gets overlooked. The content and conference style will be different from most other conferences, not barcamp-style and not multi-track style, but somewhere between the two.
/   %p We are trying to make something different and we are trying to do it with JavaScript.
/   
/   
/   %h2 News Updates
