
#leftbox
  #notice
    %h1 Sign Up For Track B or Significant Others Track Today
    %p 
      While JSConf 2009 is completely sold out, there is still a lot of things that the lucky ticket holders can do! If you have a super cool project or an idea that you are working on, be sure to <a href="mailto:trackb@jsconf2009.com">sign up for a slot to present it at JSConf 2009 Track B</a>. <strong>Track B</strong> is the "unconf" portion of the conference where you the attendees get to drive the content and presentations. It will be in the Hotel Palomar, right across the hall from the main track so you can jump tracks at any point in time if you are attending. The space can be reserved for presentations, discussions or HackFests.
    %p Last, but definitely not least, is the <strong>Significant Others Track</strong> - which we are happy to be one of the few conferences that offer this. If you are bringing a loved one or friend, they can join the Significant Others track by registering with <a href="mailto:info@jsconf2009.com">info@jsconf2009.com</a>. The significant others will go out in a group and tour DC, hit up some of the best lunch spots, and really enjoy the time in Washington DC while you are at the conference. The significant others will meet back up with the conference attendees for the evening social events, so all can have a great time.
    %p Both tracks are sponsored by <a href="/sponsors.html#yahoo">Yahoo! Inc.</a> and the <a href="/sponsors.html#yahoo">Yahoo! Developer Network</a>.
      
    
      
  #only_at_jsconf
    %h3 
      %span Only at JSConf 2009
    #marketing_copy
      %a{"href"=>"/speakers.html"}
        #s3slider
          %ul#s3sliderContent
            %li.s3sliderImage
              %img{"src"=>"/images/mobilejs.jpg"}
              %span Write JavaScript for the iPhone, Android, and the Blackberry
            %li.s3sliderImage
              %img{"src"=>"/images/desktopjs.jpg"}
              %span Learn about Cross Platform Desktop Applications with JavaScript
            %li.s3sliderImage
              %img{"src"=>"/images/browserjs.jpg"}
              %span Develop Incredibly Rich Web Applications with Cutting Edge Frameworks
            %li.s3sliderImage
              %img{"src"=>"/images/testjs.jpg"}
              %span See Automated Web Browser Testing with JavaScript
            %li.s3sliderImage
              %img{"src"=>"/images/desktopjs.jpg"}
              %span  Cross Platform Applications with JavaScript
  
  
  
  #featured_speakers
    #speaker_nav
      %a#left{"href"=>"javascript:void(0)"}
        %img{"src"=>"/images/larrow.jpg", "alt"=>"Left"}
      %span Displaying 1 of 3
      %a#right{"href"=>"javascript:void(0)"}
        %img{"src"=>"/images/rarrow.jpg", "alt"=>"Right"}
    %h3
      %span Featured Speakers
    .speakers
      #slide1.slide
      
        %a{"href"=>"/speakers.html#higgins"}
          %img{"src"=>"/images/speakers/peter_higgins.jpg", "alt"=>"Peter Higgins, Dojo Toolkit Project Lead"}

        %a{"href"=>"/speakers.html#stefanov"}
          %img{"src"=>"/images/speakers/stoyan_stefanov.jpg", "alt"=>"Stoyan Stefanov, YUI"}
        %a{"href"=>"/speakers.html#huggins"}
          %img{"src"=>"/images/speakers/jason_huggins.jpg", "alt"=>"Jason Huggins, Sauce Labs"}
        %a{"href"=>"/speakers.html#haynie"}
          %img{"src"=>"/images/speakers/jeff_haynie.jpg", "alt"=>"Jeff Haynie, CEO of Appcelerator"}
        %a{"href"=>"/speakers.html#resig"}
          %img{"src"=>"/images/speakers/john_resig.jpg", "alt"=>"John Resig, Mozilla/jQuery"}
        %a{"href"=>"/speakers.html#francisco"}
          %img{"src"=>"/images/speakers/francisco.jpg", "alt"=>"Francisco Tolmasky, Creator of Objective-J"}
      #slide2.slide      
        %a{"href"=>"/speakers.html#zyp"}
          %img{"src"=>"/images/speakers/kris_zyp.jpg", "alt"=>"Kris Zyp, SitePen"}
        %a{"href"=>"/speakers.html#campbell"}
          %img{"src"=>"/images/speakers/nick_campbell.jpg", "alt"=>"Nick Campbell, Axiom Stack"}
        %a{"href"=>"/speakers.html#guillermo"}
          %img{"src"=>"/images/speakers/harry_guillermo.jpg", "alt"=>"Harry Guillermo, gameQuery"}
        %a{"href"=>"/speakers.html#moffitt"}
          %img{"src"=>"/images/speakers/jack_moffitt.jpg", "alt"=>"Jack Moffitt, ChessPark"}
        %a{"href"=>"/speakers.html#leroux"}
          %img{"src"=>"/images/speakers/brian_leroux.jpg", "alt"=>"Brian LeRoux, Co-creator of XUI and contributor to PhoneGap"}
        %a{"href"=>"/speakers.html#worth"}
          %img{"src"=>"/images/speakers/richard_worth.jpg", "alt"=>"Richard Worth, jQuery UI"}
        
      #slide3.slide    
        %a{"href"=>"/speakers.html#smith"}
          %img{"src"=>"/images/speakers/ian_smith.jpg", "alt"=>"Ian Smith, TaffyDB"}
        %a{"href"=>"/speakers.html#turner"}
          %img{"src"=>"/images/speakers/andrew_turner.jpg", "alt"=>"Andrew Turner"}
        %a{"href"=>"/speakers.html#anderson"}
          %img{"src"=>"/images/speakers/chris_anderson.jpg", "alt"=>"Chris Anderson, CouchDB Guru"}
        %a{"href"=>"/speakers.html#subelsky"}
          %img{"src"=>"/images/speakers/mike_subelsky.jpg", "alt"=>"Mike Subelsky, co-founder of the web startup OtherInbox.com, and the co-organizer of Ignite Baltimore"}

  #where_to_meet
    %a{"href"=>"/accommodations.html"}
      %h3
        %span Where to Meet
      %p Hotel Palomar Arlington  
      %p JSCONF Special Rate of $159 per night
      
  #latest_news
    %h3
      %span Latest News
    .postings
      - @limited_articles = true
      = partial('articles')
      .all_articles
        %a{"href"=>"/news.html"} More News Articles
#sidebar
  #sponsors_sidebar
    %h3
      %span Sponsors
    %h4 Premier Sponsors
    .sponsorlist
      %a{"href"=>"http://www.rga.com"}
        %img{"src"=>"/images/rga.gif", "alt"=>"R/GA"}
      %a{"href"=>"http://www.mozilla.com"}
        %img{"src"=>"/images/moz.png", "alt"=>"Mozilla"}
      %a{"href"=>"http://www.joyent.com"}
        %img{"src"=>"/images/joyent.gif", "alt"=>"Joyent"}
      %a{"href"=>"http://developer.yahoo.com"}
        %img{"src"=>"/images/yahoo.gif", "alt"=>"Yahoo!"}
      %a{"href"=>"http://www.sun.com/emrkt/startupessentials/"}
        %img{"src"=>"/images/sun.gif", "alt"=>"Sun Startup Essentials"}
    %h4 Curators
    .sponsorlist
      %a{"href"=>"http://www.iterativedesigns.com"}
        %img{"src"=>"/images/iterativedesigns.png", "alt"=>"Iterative Designs"}
        
      %a{"href"=>"http://www.perphic.com"}
        %img{"src"=>"/images/perphic.png", "alt"=>"Perphic"}
      %a{"href"=>"http://www.launchboxdigital.com"}
        %img{"src"=>"/images/launch-box-digital.gif", "alt"=>"LaunchBox Digital"}

    %h4 Media Sponsors
    .sponsorlist
      %a{"href"=>"http://www.oreilly.com"}
        %img{"src"=>"/images/oreilly.gif", "alt"=>"O'Reilly Publishing"}
      %a{"href"=>"http://www.jsmag.com"}
        %img{"src"=>"/images/jsmag.png", "alt"=>"JSMag for JavaScript Developers"}
    
  
    .interested 
      %a{"href"=>"/sponsors.html"} Interested in Sponsorship?
  
  #badges
  
    %img{"src"=>"http://jsconf.s3.amazonaws.com/badges/jsconf.jpg", "alt"=>"JSConf 2009 - Be there or be static", "style"=>"vertical-align:top", "width"=>"182"}
    %img{"src"=>"http://jsconf.s3.amazonaws.com/badges/attendee.jpg", "alt"=>"JSConf 2009 - Be there or be static", "width"=>"182"}
  
  #tweet_sidebar
    %h3
      %span Tweet Up
    #jsconftweets
  
  