%p JSConf 2009 is a <strike>rockstar</strike> conference devoted to the programming language we all love to hate and hate to love, <span class="jssub">JavaScript</span>. No matter which programming language you love, you know of the <span class="ppsub">pleasure</span> of JavaScript programming. 
%p Come to this conference if you love JavaScript, come if you hate it, come if you don't even know how to program. Whatever drives you to come, be sure to leave your "my framework kicks ass" checked at the door -- we're talking about <span class="jssub">JavaScript</span> here.
