%h1 Call for Speakers
%p 
  We are still in the planning phases for this conference and are looking for some good people to provide some kick ass presentations about JavaScript. Presentation topics will be from the list provided below.
  = "<a href='mailto:info@jsconf2009.com'>Email us</a>"
  if there is anything you want to speak on OR know someone who would give a great speech and want to sign them up (you are such a good friend).
  
%p Topics that will be presented at this conference include:
%ul
  %li Server Side JavaScript
  %li Client Side JavaScript
  %li JavaScript Hacker Style (XSS, CSRF, etc.) and Deep Security Tech
  %li SquirrelFishExtreme, V8, SpiderMonkey/TraceMonkey
  %li Testing JavaScript
  %li JSON
  %li CouchDB
  %li Changing the world with JS
  %li Canvas/ExCanvas
  %li Next Generation JavaScript

  