.bodycontent#speakers
  %h1 Speakers
  %p JSConf 2009 is bringing together <strike>14</strike> 16 of the top minds in JavaScript to provide the most exciting presentations and discussions to you. The speakers are presenting their amazing work using JavaScript at every level of the programming stack. Speakers are presented below alphabetically with their topic and a quick biography provided about them. If you want to present at JSConf 2009 on a topic, product, or idea that you have, there will be a side room for lightning talks and hackfests. The conference will blend the best parts of a normal lecture style conference and a "-camp" style conference. 
  %hr
  .speaker#anderson
    %img{"src"=>"images/speakers_page/chris_anderson.jpg", "alt"=>"Chris Anderson"}
    %h2 Chris Anderson
    %p 
      %strong Topic:
      Apache CouchDB can serve applications written using familiar Ajax patterns, using no middle-tier application server. Standalone CouchApps are quick and easy to develop, as well as being easily portable. They are ideal for in-house or education projects, as well as opening up novel opportunities using CouchDB's peer-based replication. In this talk I'll walk you through hello world with CouchApps, and then explain some of the new possibilities they open up.
    %p 
      %strong About:
      Chris is an active CouchDB committer and co-author of CouchDB: The Definitive Guide. He consults on high-availability CouchDB installations. He and his wife Amy live in beautiful Portland, Oregon. Chris is a music aficionado and shares his thoughts on just about anything on his blog at <a href="http://jchris.mfdz.com">http://jchris.mfdz.com</a>.  

  .speaker#haynie
    %img{"src"=>"images/speakers_page/jeff_haynie.jpg", "alt"=>"Jeff Haynie"}
    %h2 Jeff Haynie
    %p 
      %strong Topic: 
      Deploying web applications on the desktop - In this topic, Jeff will discuss how to build and deploy desktop rich applications using Titanium which run seamlessly on Windows, OSX and Linux desktops using Javascript and HTML.  
    
    %p 
      %strong About:
      Jeff Haynie is currently the co-founder and CEO of <a href="http://appcelerator.org/">Appcelerator</a>, an open source company located in Mountain View, California focused on making it easier to build and deploy rich applications.  Jeff has over two decades years of software development experience and currently enjoys building desktop applications in HTML and Javascript.  
      
  .speaker#smith
    %img{"src"=>"images/speakers_page/brian_leroux.jpg", "alt"=>"Brian LeRoux"}
    %h2 Brian LeRoux
    %p 
      %strong Topic: 
      PhoneGap makes building iPhone and Android applications a snap with regular HTML, CSS and JavaScript. XUI is a nifty javascript microframework designed for  building mobile web applications. Avoid the heresy of Objective-C or Java and return to the sanity of the open web. In this talk Brian will guide you through the creation of a mobile web app that is app store ready and talk a little about the future platforms for PhoneGap and XUI. 

    %p 
      %strong About:
      Co-creator of XUI and contributor to PhoneGap. Brian believes that the future of the internet is mobile and will rely on web standards, open source and hackers like you. Brian works at Nitobi Software: a leader in user experience and all things javascript. 
      
  .speaker#moffitt
    %img{"src"=>"images/speakers_page/jack_moffitt.jpg", "alt"=>"Jack Moffitt"}
    %h2 Jack Moffitt
    %p
      %strong Topic:
      A new real time Web is emerging, backed by the eXtensible Messaging and Presence Protocol (XMPP).  This protocol is designed for low latency, real time communication, publish-subscribe, and social networking. You will learn how XMPP and HTTP can be combined to make new applications possible and how to harness XMPP from JavaScript.  We will use the Strophe library to create a few simple XMPP applications.
    %p
      %strong About:
      Jack Moffitt is a hacker and entrepreneur.  He is currently creating real time search applications based on XMPP and Web technologies using JavaScript, Erlang, and Python.  Previously he created Chesspark, an online game community build on top of XMPP, led the team behind the Ogg, Vorbis, and Theora patent-free multimedia codec projects, and created the Icecast sreaming media server.  Jack is passionate about Free and Open Source software, technology in general, and music.
      
  .speaker#resig
    %img{"src"=>"images/speakers_page/john_resig.jpg", "alt"=>"John Resig"}
    %h2 John Resig
    %p
      %strong Topic:
      It's a surprise.
    %p
      %strong About:
      John Resig is a JavaScript developer and the creator of the <a href="http://www.jquery.com">jQuery JavaScript library</a>. He currently works for the <a href="http://www.mozilla.com">Mozilla Corporation</a>       where he works as a JavaScript Evangelist. He's also the creator of a number of other popular JavaScript projects including <a href="http://ejohn.org/blog/processingjs/">Processing.js</a> and <a href="http://ejohn.org/projects/bringing-the-browser-to-the-server/">Env.js</a>. He's the author of the book <a href="http://jspro.org/">'Pro JavaScript Techniques'</a> and the upcoming <a href="http://jsninja.com/">'Secrets of the JavaScript Ninja'</a>.
      
  .speaker#smith
    %img{"src"=>"images/speakers_page/ian_smith.jpg", "alt"=>"Ian Smith"}
    %h2 Ian Smith
    %p
      %strong Topic: 
      Better Data Management with TaffyDB: In this presentation you will learn about the TaffyDB Library. TaffyDB acts as a thin data layer within your JavaScript applications that makes it easy to manage, manipulate, and query your data without returning to the server. In this presentation you will get an overview of how TaffyDB works and how easy it is to start using it in your applications. You will also learn how putting TaffyDB at the core of your application can help you create faster, more flexible, and more innovative experiences for your users.
    %p 
      %strong About: 
      Ian Smith is a self taught web developer who has been working in the industry since the late 1990s. His claims to fame include the Joe's Goals online habit tracker, a stint as a contributor to the popular Download Squad blog, being the primary editor of the <a href="http://mostrecent.net/javascript">MostRecent.Net JavaScript</a> page, and the opensource <a href="http://taffydb.com/">TaffyDB JavaScript Database library</a>. He currently works as the Development Team Manager for <a href="http://quotewizard.com/">QuoteWizard</a> in Seattle, WA. On his own time he enjoys reading, shooting, writing, and the company of his beautiful wife Heather and brand new baby Sasha.
  .speaker#subelsky
    %img{"src"=>"images/speakers_page/mike_subelsky.jpg", "alt"=>"Mike Subelsky"}
    %h2 Mike Subelsky
    %p
      %strong Topic: 
      Introduction to SproutCore: This exciting new JavaScript framework allows developers to build fluid and feature-rich desktop clients that run inside the web-browser, such as Apple's MobileMe suite.  It uses the full power of JavaScript but takes its inspiration from the Cocoa framework, specifically the use of Key-Value Observation.  The talk will include short videos and live coding and will not be your typical "talk to my slides" presentation.
    %p 
      %strong About: 
      Mike Subelsky is the co-founder of the web startup <a href="http://www.otherinbox.com">OtherInbox.com</a>, and the co-organizer of Ignite Baltimore.  His SproutCore client for OtherInbox was launched in September at Techcrunch50.  Prior to becoming a full-time Rails and SproutCore hacker, he served as a U.S. Navy information warfare officer with assignments around the world for seven years.  He blogs about open-source technologies at <a href="http://www.subelsky.com">subelsky.com</a>.  
  .speaker#francisco
    %img{"src"=>"images/speakers_page/francisco_tolmasky.jpg", "alt"=>"Francisco Tolmasky"}
    %h2 Francisco Tolmasky
    %p 
      %strong Topic: 
      This session will provide a high level overview of the Objective-J language and Cappuccino frameworks.  We'll spend a short period of time discussing both these technologies and the reasoning behind them.  Then we'll dive right into showing you how to use them to create beautiful and immersive user interfaces for your web applications that parallel those found on the desktop.  We'll cover how to add features such as drag and drop, copy/paste, undo/redo, and autosave.
    %p
      %strong About:
      Francisco is a co-founder of <a href="http://www.280north.com">280 North</a> and the creator of the Objective-J programming language.  Before this, Francisco was an early member of the iPhone team at Apple, working on Mobile Safari and Maps as well as designing the Web SDK. At 280 North he is helping to bring desktop-class applications to the browser with their new open source framework, Cappuccino. They recently launched 280 Slides, a web presentation tool and the first application built on Cappuccino.    
  .speaker#turner
    %img{"src"=>"images/speakers_page/andrew_turner.jpg", "alt"=>"Andrew Turner"}
    %h2 Andrew Turner
    %p
      %strong Topic:
      The integration of JavaScript to control a virtual reality and vehicle simulation software modeling software package called <a href="http://simcreator.com">SimCreator</a>. The talk will discuss the ability to script real-world events and behaviors such as traffic patterns, pedestrians, urban situations, warfare simulations, and vehicle testing.
    %p
      %strong About:
      Andrew Turner is the CTO of FortiusOne and co-founder of Mapufacture - focusing on building easy to use web-based geospatial visualization and collaboration tools. He originally worked on satellites and airships and now applies this technology to open-source tools and community projects such as OpenStreetMap that are being used by the United Nations and other NGO's. Andrew also writes for O'Reilly Media and blogs at <a href="http://www.highearthorbit.com">HighEarthOrbit.com</a>.

  .speaker#worth
    %img{"src"=>"images/speakers_page/richard_worth.jpg", "alt"=>"Richard D. Worth"}
    %h2 Richard D. Worth
    %p
      %strong Topic:
      Learning jQuery UI: Built on top of jQuery, jQuery UI is a complete set of behaviors and components for building Rich Internet Applications. Drag-and-drop, resizing, sorting, selecting, dialogs, sliders, tabs, trees, grids, toolbars, menus, etc. Each component adheres to a consistent standard across API, design, behavior and theming, minimizing surprise and making learning all of them as easy as learning one. jQuery UI has full cross-browser support, is designed for easy customizing and extensibility, and is fully themable with a widget-ready CSS Framework.
    %p
      %strong About:
      Richard D. Worth is one of the lead developers of <a href="http://jqueryui.com/">jQuery UI</a>, a component framework built on top of jQuery, designed to make Rich Internet Applications as refreshingly simple as jQuery has made Ajax. Richard works at Fulcrum IT on Web services contracts, primarily for the government, and blogs at <a href="http://rdworth.org/">rdworth.org</a>.
