.bodycontent#speakers
  %h1 Speakers
  .speaker
    %img{"src"=>"images/speakers_page/chris_anderson.jpg", "alt"=>"Chris Anderson"}
    %h2 Chris Anderson
    %p Chris is an active CouchDB committer and co-author of CouchDB: The Definitive Guide. He consults on high-availability CouchDB installations. He and his wife Amy live in beautiful Portland, Oregon. Chris is a music aficionado and shares his thoughts on just about anything on his blog at <a href="http://jchris.mfdz.com">http://jchris.mfdz.com</a>.  

  .speaker
    %img{"src"=>"images/speakers_page/jeff_haynie.jpg", "alt"=>"Jeff Haynie"}
    %h2 Jeff Haynie
    %p Jeff Haynie is currently the co-founder and CEO of <a href="http://appcelerator.org/">Appcelerator</a>, an open source company located in Mountain View, California focused on making it easier to build and deploy rich applications.  Jeff has over two decades years of software development experience and currently enjoys building desktop applications in HTML and Javascript.  
  .speaker
    %img{"src"=>"images/speakers_page/mike_subelsky.jpg", "alt"=>"Mike Subelsky"}
    %h2 Mike Subelsky
    %p Mike Subelsky is the co-founder of the web startup <a href="http://www.otherinbox.com">OtherInbox.com</a>, and the co-organizer of Ignite Baltimore.  His SproutCore client for OtherInbox was launched in September at Techcrunch50.  Prior to becoming a full-time Rails and SproutCore hacker, he served as a U.S. Navy information warfare officer with assignments around the world for seven years.  He blogs about open-source technologies at subelsky.com.  
  .speaker
    %img{"src"=>"images/speakers_page/francisco_tolmasky.jpg", "alt"=>"Francisco Tolmasky"}
    %h2 Francisco Tolmasky
    %p Francisco is a co-founder of <a href="http://www.280north.com">280 North</a> and the creator of the Objective-J programming language.  Before this, Francisco was an early member of the iPhone team at Apple, working on Mobile Safari and Maps as well as designing the Web SDK. At 280 North he is helping to bring desktop-class applications to the browser with their new open source framework, Cappuccino. They recently launched 280 Slides, a web presentation tool and the first application built on Cappuccino.    


  %hr
  %p 
    There are still a few remaining speaking slots that have not been decided upon. If you are interested in providing a great presentation about JavaScript, in whatever form, <a href='mailto:info@jsconf2009.com'>email us</a> or send us a <a href="http://www.twitter.com/jsconf">tweet</a>.
  