.posting
  =partial("subelsky_video")
  .comment_count
    ='<a href="http://www.jsconf2009.com/subelsky_video.html#disqus_thread">View Comments</a>'
.posting
  =partial("stefanov_video")
  .comment_count
    ='<a href="http://www.jsconf2009.com/stefanov_video.html#disqus_thread">View Comments</a>'
.posting
  =partial("couch_video")
  .comment_count
    ='<a href="http://www.jsconf2009.com/couch_video.html#disqus_thread">View Comments</a>'

.posting
  =partial("duncan_video")
  .comment_count
    ='<a href="http://www.jsconf2009.com/duncan_video.html#disqus_thread">View Comments</a>'
.posting
  =partial("moffitt_video")
  .comment_count
    ='<a href="http://www.jsconf2009.com/moffitt_video.html#disqus_thread">View Comments</a>'
.posting
  =partial("resig_video")
  .comment_count
    ='<a href="http://www.jsconf2009.com/resig_video.html#disqus_thread">View Comments</a>'
.posting
  =partial("leroux_video")
  .comment_count
    ='<a href="http://www.jsconf2009.com/leroux_video.html#disqus_thread">View Comments</a>'
.posting
  =partial("higgins_video")
  .comment_count
    ='<a href="http://www.jsconf2009.com/higgins_video.html#disqus_thread">View Comments</a>'
.posting
  =partial("francisco_video")
  .comment_count
    ='<a href="http://www.jsconf2009.com/francisco_video.html#disqus_thread">View Comments</a>'
.posting
  =partial("teaser")
  .comment_count
    ='<a href="http://www.jsconf2009.com/teaser.html#disqus_thread">View Comments</a>'
- if !@limited_articles
  .posting
    =partial("major_announcement")
    .comment_count
      ='<a href="http://www.jsconf2009.com/major_announcement.html#disqus_thread">View Comments</a>'
  .posting
    =partial("speaker_peter_higgins")
    .comment_count
      ='<a href="http://www.jsconf2009.com/speaker_peter_higgins.html#disqus_thread">View Comments</a>'
  .posting
    =partial("speaker_kris_zyp")
    .comment_count
      ='<a href="http://www.jsconf2009.com/speaker_kris_zyp.html#disqus_thread">View Comments</a>'

  .posting
    =partial("speaker_john_resig")
    .comment_count
      ='<a href="http://www.jsconf2009.com/speaker_john_resig.html#disqus_thread">View Comments</a>'

  .posting
    =partial("speaker_richard_worth")
    .comment_count
      ='<a href="http://www.jsconf2009.com/speaker_richard_worth.html#disqus_thread">View Comments</a>'

  .posting
    =partial("craft_beer_wine_tasting")
    .comment_count
      ='<a href="http://www.jsconf2009.com/craft_beer_wine_tasting.html#disqus_thread">View Comments</a>'

  .posting
    =partial("conference_registration")
    .comment_count
      ='<a href="http://www.jsconf2009.com/conference_registration.html#disqus_thread">View Comments</a>'
  .posting
    =partial("opening_announcement")
    .comment_count
      ='<a href="http://www.jsconf2009.com/opening_announcement.html#disqus_thread">View Comments</a>'