- if @solo
  %center
    = campbell
  %h1
    Nick Campbell - Axiom Stack: Server Side JavaScript
    %div.details September 23, 2009 
- else
  %h4 
    %a{"href"=>"/campbell_video.html"} 
      Nick Campbell - Axiom Stack: Server Side JavaScript
    %span.details September 23, 2009 
.content
  %p Nick presents the adventures of Timmy through the (stick) world of web programming in order to illustrate the need, beauty, and reality of Server Side JavaScript programming using Axiom Stack. Nick presents the variety of issues that happen when writing templates, multi-language development, and database schema handling. The Axiom Stack provides you with the ability to leverage one language, the web language of JavaScript, to create powerful and wide reaching web applications. 
  
  %p= share_this