- if @solo
  %h1
    Conference Registration is NOW OPEN
    %div.details January 23, 2009
- else
  %h4 
    %a{"href"=>"/conference_registration.html"} 
      Conference Registration is NOW OPEN
    %span.details January 23, 2009    
.content
  %p As you may have noticed, we have a new site, new branding, and a lot more of information. We have been working very hard to make this conference a stellar first JSConf. As of today, <a href="http://jsconf2009.eventbrite.com">conference registration</a> is now open and available, you can pay with a credit card or PayPal account. Also we have badges that you can ue to help show the world that you believe in JSConf. Put them on your website, blog, or twitter background.
  %p
    %center
      %img{"src"=>"http://jsconf.s3.amazonaws.com/badges/jsconf.jpg", "alt"=>"JSConf 2009 - Be there or be static", "style"=>"vertical-align:top"}
      %img{"src"=>"http://jsconf.s3.amazonaws.com/badges/attendee.jpg", "alt"=>"JSConf 2009 - Be there or be static"}
