- if @solo
  %center
    = couch
  %h1
    Chris Anderson and Jan Lehnardt - CouchDB to the Edge
    %div.details August 3, 2009 
- else
  %h4 
    %a{"href"=>"/couch_video.html"} 
      Chris Anderson and Jan Lehnardt - CouchDB to the Edge
    %span.details August 3, 2009  
.content
  %p Using <a href="http://couchdb.apache.org/">CouchDB</a> to create "edgy" web applications that are stored in the database. <a href="http://github.com/jchris/couchapp/tree/master">CouchApps</a> allows you to store not only data in a database like CouchDB, but also full applications, which lends to some rather interesting use cases. Not only do applications then scale up and out, but their ability to revision control themselves comes for free. The CouchApps are pure JavaScript applications that sit on top of the power of CouchDB, and then allow the applications and data to become instantly portable and shareable through replication. This tag team presentation will give you some powerful insight into the concepts of CouchDB and CouchApps.
  %p= share_this