- if @solo
  %h1
    Announcing JSConf 2009 Craft Beer and Wine Tasting
    %div.details February 2, 2009
- else
  %h4 
    %a{"href"=>"/craft_beer_wine_tasting.html"} 
      Announcing JSConf 2009 Craft Beer and Wine Tasting
    %span.details February 2, 2009    
.content
  %p One of the critical elements that differentiates JSConf 2009 is the focus on incredible content, speakers, and social events. We want to announce the first social event of JSConf 2009, a craft beer and wine tasting event that will happen on Friday April 24, 2009 at the conference hotel, <a href="/accommodations.html">Hotel Palomar</a> from 6:30pm - 8:30pm. This event is fully covered in the ticket price and will include light hors d'oeuvres, beer, wine, and soft drinks. This event is designed specifically for the intimate conference in order to allow everyone to meet one another and build the JavaScript community. For more information about this event, be sure to check out the <a href="/agenda.html">full agenda</a>.
  %p Speakers + Beer + Wine + You = AWESOME.
  