- if @solo
  %center
    = duncan
  %h1
    James Duncan JSConf 2009 Video 
    %div.details June 5, 2009 
- else
  %h4 
    %a{"href"=>"/duncan_video.html"} 
      James Duncan JSConf 2009 Video  
    %span.details June 5, 2009  
.content
  %p <a href="http://twitter.com/jamesaduncan">James</a> <a href="http://whoot.org/">Duncan</a> provides a concise historical perspective of JavaScript and a powerful view of the future of the Web and how JavaScript will critical to that future. He unveils the amazing <a href="http://smart.joyent.com">Joyent Smart Platform</a> which provides a full stack JavaScript platform that leverages the power of Git for easing the deployment problem. The platform is utility billed, so you only pay for the time it is in use, and not idle. Also the platform is <a href="http://github.com/joyent">entirely open source</a>. James provides an amazing overview of where the world is heading and you need to watch this now so you can be ready for tomorrow.
  %p= share_this