- if @solo
  %center
    = francisco
  %h1
    Francisco Tolmasky JSConf 2009 Video 
    %div.details May 28, 2009 
- else
  %h4 
    %a{"href"=>"/francisco_video.html"} 
      Francisco Tolmasky JSConf 2009 Video 
    %span.details May 28, 2009  
.content
  %p <a href="http://twitter.com/tolmasky">Francisco</a> <a href="http://www.alertdebugging.com/">Tolmasky</a>, co-founder of <a href="http://www.280north.com">280 North</a>, presented on a wide range of topics relating to their awe-inspiring <a href="http://cappuccino.org/">Objective-J and Cappuccino</a> frameworks. During this presentation you will get a (no longer) sneak peek at the cib2nib functionality released as part of Cappuccino 0.7 (which is <a href="http://cappuccino.org/discuss/?p=314">now available</a>), a view into Objective-J Debugging, and an incredibly deep look into why they decided to create Objective-J, for any JavaScript developer, regardless of your thoughts on Objective-J, it is an absolutely great perspective on the "Good Grief" of JavaScript development, and how it can be driven forward based on great ideas.
  