- if @solo
  %center
    = higgins
  %h1
    Peter Higgins JSConf 2009 Video 
    %div.details June 5, 2009 
- else
  %h4 
    %a{"href"=>"/higgins_video.html"} 
      Peter Higgins JSConf 2009 Video 
    %span.details June 5, 2009  
.content
  %p <a href="http://twitter.com/phiggins">Peter</a> <a href="http://higginsforpresident.net/">Higgins</a>, presents "Patterns for Lovers of JavaScript" -- Dojo teaches fundamentally sounds techniques for high performance JavaScript applications across the board. In this session, you will learn how these techniques are used internally provide a stable, professional-grade foundation for creating highly maintainable, scalable projects of any size. Learn about the powerful dojo.data and RPC APIs, and other internal favorites of Dojo Ninjas. From the smallest use cases covered by Base Dojo to fully featured Rich Applications, the Dojo Toolkit provides quality tools for every step of the way.
  %p If you have never played with Dojo before, this is an excellent tutorial by one of the masters of JavaScript in general. This presentation was our final one for JSConf 2009 ad we felt that with all the great things going on in the JavaScript world right now it would be fitting to publish it next. Hope you enjoy the video and if you could share this along, it would help the entire development community at large. GO JAVASCRIPT!
  %p= share_this