- if @solo
  %center
    = leroux
  %h1
    Brian LeRoux JSConf 2009 Video 
    %div.details June 12, 2009 
- else
  %h4 
    %a{"href"=>"/leroux_video.html"} 
      Brian LeRoux JSConf 2009 Video 
    %span.details June 12, 2009  
.content
  %p If you saw <a href="http://search.twitter.com/search?q=%23jsconf">#jsconf</a> on the Trending Topics, this presentation had a major hand in it. As Brian mentions, he re-did his slides after a late night empanada, so you can only imagine how crazy it gets -- and it exceeds your wildest expectations. Brian's topic is focused around using JavaScript on the mobile platforms, specifically the breakout <a href="http://www.phonegap.com/">PhoneGap</a> framework to kick some major handheld ass using JavaScript. Without out further gabbing, you really need to click the play button and enjoy (and pass on to a friend).
  %p= share_this