- if @solo
  %h1
    MAJOR ANNOUNCEMENTS - LESS THAN 30 DAYS AWAY
    %div.details April 2, 2009
- else
  %h4 
    %a{"href"=>"/major_announcement.html"} 
      MAJOR ANNOUNCEMENTS - LESS THAN 30 DAYS AWAY
    %span.details April 2, 2009
.content
  %p Several very quick major announcements about JSConf 2009 which is under 30 days away. Its quite exciting time and we are putting the final polish on the event. Couple major announcements to let you know of:
  %ol
    %li Mozilla has become our third sponsor of JSConf 2009, which we are quite excited about. They are sponsoring the conference food and beverages of the conference, allowing us to make this one of the best tasting conferences ever. You are all in for a real treat, which leads us to our next item announcement.
    %li Be sure to review the updated <a href="/agenda.html">JSConf 2009 agenda</a> as times have shifted a bit in order to accommodate a nice afternoon snack break. We will be having absolutely stellar presentations during lunch thanks to our other two sponsors <a href="/sponsors.html#rga">R/GA</a> and <a href="/sponsors.html#joyent">Joyent</a>.
    %li KEEP FRIDAY NIGHT AND SATURDAY NIGHT OPEN. There will be social events, the all inclusive kind, on each night of JSConf 2009. So you will definitely want to check the aforementioned agenda page and keep your calendars clear. The social events are sponsored by R/GA and Joyent &amp; Sun Startup Essentials. This is going to be one amazing conference.
    %li Bring your significant others, we will be planning a track just for them to take them around Washington DC and enjoy the sights while you are in conference. No more "oh what to do with out my other".
    %li Track B is really heating up. Track B is our free-form "unconf" style track which allows you, the attendees, sponsors, or speakers of JSConf 2009 to present to the community anything you want to. You can present your ideas, thoughts, topics, or just schedule a hackfest - its entirely up to you! To sign up for a time slot be sure to email <a href="mailto:trackb@jsconf2009.com">trackb@jsconf2009.com</a> as slots are assigned based on a first-serve, first come basis.
