- if @solo
  %center
    = moffitt
  %h1
    Jack Moffitt JSConf 2009 Video 
    %div.details July 9, 2009 
- else
  %h4 
    %a{"href"=>"/moffitt_video.html"} 
      Jack Moffitt JSConf 2009 Video 
    %span.details July 9, 2009  
.content
  %p Grown tired of the AJAX buzzword blues? <a href="http://metajack.im/">Jack Moffitt</a> takes us on a whirlwind tour of <a href="http://code.stanziq.com/strophe/">Strophe</a> for building beautiful XMPP based applications in pure JavaScript using Bidirectional-streams Over Synchronous HTTP (BOSH) which will most likely be the next evolution of web technologies. The focus concept is the "Real Time Web" and how to actually accomplish low latency rich data applications that put AJAX to shame. With Strophe you can leverage all the goodness of XMPP at the client side. It is a very exciting technology and great deep tech talk from the one of the geniuses behind the brand new <a href="http://collecta.com/">Collecta</a>.
  %p= share_this