- if @solo
  %center
    = resig
  %h1
    John Resig JSConf 2009 Video 
    %div.details June 30, 2009 
- else
  %h4 
    %a{"href"=>"/resig_video.html"} 
      John Resig JSConf 2009 Video 
    %span.details June 30, 2009  
.content
  %p <a href="http://twitter.com/jeresig">John</a> <a href="http://ejohn.org/">Resig</a> presents his mystery topic, which is actually three topics that strike his interest. First up is measuring performance and a quick introduction to benchmarking (and its positives and negatives). This is followed by JavaScript Games which he unveils some super cool hidden functionality (cheat codes++) on the <a href="http://www.jquery.com">jQuery</a> web site. This is followed up by the introduction of John's distributed continuous test framework platform, <a href="http://testswarm.com/">Test Swarm</a>. It is jam packed with Nirvana and goodness so be sure to watch both parts.
  %p= share_this