- if @solo
  %h1
    Announcing Richard D. Worth, jQuery UI
    %div.details February 4, 2009
- else
  %h4 
    %a{"href"=>"/speaker_richard_worth.html"} 
      Announcing Richard D. Worth, jQuery UI
    %span.details February 9, 2009  
.content
  %p Our next speaker rounds out our jQuery set of speakers, Richard D. Worth is one of the contributors to jQuery UI. jQuery UI is a component framework built on top of jQuery, designed to make Rich Internet Applications as refreshingly simple as jQuery has made Ajax. Richard works at Fulcrum IT on Web services contracts, primarily for the government, and blogs at <a href="http://www.rdworth.org">rdworth.org</a>.
  - if @solo
    %p Richard plans on taking us through the world of jQuery UI. Drag-and-drop, resizing, sorting, selecting, dialogs, sliders, tabs, trees, grids, toolbars, menus, etc. Each component adheres to a consistent standard across API, design, behavior and theming, minimizing surprise and making learning all of them as easy as learning one. jQuery UI has full cross-browser support, is designed for easy customizing and extensibility, and is fully themable with a widget-ready CSS Framework.
