- if @solo
  %h1
    Announcing Kris Zyp, SitePen
    %div.details February 23, 2009
- else
  %h4 
    %a{"href"=>"/speaker_kris_zyp.html"} 
      Announcing Kris Zyp, SitePen
    %span.details February 23, 2009  
.content
  %p We are happy to announce that Kris Zyp from <a href="http://www.sitepen.com">SitePen</a> will be diving deeply on the topic of service oriented approaches to JSON-RPC and HTTP/REST with JSON. He is presenting about the rapid adoption of JSON as the standard data format of the web, developing web applications with a natural end-to-end intuitive JavaScript model is becoming a reality. He is on the OpenAjax Alliance steering committee and represents the <a href="http://dojofoundation.org/">Dojo Foundation</a> on the EcmaScript (TC-39) committee. Kris is the lead developer of the <a href="http://sitepen.com/labs/persevere.php">Persevere project</a>, a server-side JavaScript and JSON storage framework, and the JSON Schema specification.