- if @solo
  %h1
    Better Know a Speaker: John Resig
    %div.details February 4, 2009
- else
  %h4 
    %a{"href"=>"/speaker_john_resig.html"} 
      Better Know a Speaker: John Resig
    %span.details February 4, 2009  
.content
  %p We would like to announce our next speaker, someone you might be familiar with - Mr. John Resig. John pretty much lives and breathes JavaScript so we are quite excited to have him as an integral part of JSConf. His topic is currently a secret, but trust us, it will a good time. He is currently scheduled to lead us into the aforementioned JSConf Craft Beer and Wine Tasting event on Friday night, so it promises to be a good time. If you haven't yet picked up your tickets, you might want to do it quickly. We still have <strike>five</strike> seven more speakers that will be announced bring our grand total of speakers to 16 leaders and visionaries within the JavaScript community. Be here or be static!
