- if @solo
  %h1
    Representing the Dojo: Peter Higgins
    %div.details February 27, 2009
- else
  %h4 
    %a{"href"=>"/speaker_peter_higgins.html"} 
      Representing the Dojo: Peter Higgins
    %span.details February 27, 2009  
.content
  %p We are announcing our final speaker today and its the project leader of the Dojo toolkit, Mr. Peter Higgins, and he is going to bring the fury of Dojo to JSConf 2009. Peter is presenting the concepts of Dojo for building fundamentally high performance JavaScript applications in order to create highly maintainable and scalable projects. The secrets of Dojo ninjas shall be unveiled along the way. We are very excited to have all of the speakers and equally to have you as an attendee, be sure to <a href="http://jsconf2009.eventbrite.com">sign up today as we are almost out of space</a> and you do not want to miss this conference!
