- if @solo
  %center
    = stefanov
  %h1
    Stoyan Stefanov - High Performance Kick Ass Web Apps
    %div.details August 6, 2009 
- else
  %h4 
    %a{"href"=>"/stefanov_video.html"} 
      Stoyan Stefanov - High Performance Kick Ass Web Apps
    %span.details August 6, 2009  
.content
  %p Got a slow web application? <a href="http://www.phpied.com/">Dr. Stefanov</a> is writing a prescription for you on how to put your application on a web diet using a wide array of techniques, tricks, and magic. Stoyan takes a deep dive into web technology and how to optimize it at levels that rarely get touched upon, even at tech conferences. His experience in pipelining, cacheing, image inlining, and smushing at <a href="http://developer.yahoo.com">Yahoo! Developer Network</a> is shared with you to take advantage of every possible performance improvement ever known. He demonstrates how to use smush.it, minifiers, and other ninja techniques to make the web faster than ever before. This is a must see for any and every web developer.
  %p Stoyan is not an actual doctor, he just plays one on blip.tv.
  %p= share_this