- if @solo
  %center
    = subelsky
  %h1
    Mike Subelsky - Introduction to SproutCore
    %div.details August 6, 2009 
- else
  %h4 
    %a{"href"=>"/subelsky_video.html"} 
      Mike Subelsky - Introduction to SproutCore
    %span.details August 6, 2009  
.content
  %p <a href="http://www.apple.com">Apple</a> made a huge splash with their rich <a href="http://www.me.com">MobileMe</a> release which provides a fluid and feature-rich interface through the web browser. Ignite Baltimore Superstar, <a href="http://www.subelsky.com/">Mike Subelsky</a>, shows you the inner workings of SproutCore, the JavaScript library that is used to create MobileMe. Mike has used SproutCore as part of the company he co-founded, <a href="http://www.otherinbox.com">OtherInbox.com</a>. Mike presents this rich interaction environment with passion, depth, and deep nerd tech you have come to expect from JSConf presenters and he does it all with class and style.
  %p= share_this