- if @solo
  %center
    = teaser
  %h1 Thank You for Attending JSConf 2009  
  %div.details May 28, 2009 
-else  
  %h4 
    %a{"href"=>"/teaser.html"} 
      Thank You for Attending JSConf 2009
    %span.details May 26, 2009
.content
  %p 
    Whether you were able to join us at JSConf 2009 or helped spread the excitement of the event, Laura and I would like to extend our deepest appreciation. The JavaScript community is absolutely amazing and we need to keep the excitement going. We will be unveiling the videos for free on this site as soon as we can get them out of post-production (OK maybe a couple days after, depending on schedules). We need your help to spread the JavaScript love to the entire world. We have seen the various drama in the rest of the development community and we know we can pull together something even better. Help us, help yourself, and help your friends to understand and eventually enjoy the language so many love to despise. We know there is a lot of things in the works for JSConf so please keep posted. We have posted the teaser trailer above to whet your appetite or remind you of some of the great events at JSConf 2009. If you want to see the full HD trailer, <a href="http://vimeo.com/4739942">we have posted it to Vimeo</a>. Help us out by tweeting, facebooking, "bliggity blogging" and doing whatever it is that you kids do these days the videos of JSConf 2009!
