!!!
%html
  %head
    %title JSCONF 2009
    ="<script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js\"></script>"
    = javascripts("jquery.cookie", "jquery.flickrGallery", "jquery-ui-personalized-1.6rc5.min", "jquery.flickr-1.0", "jquery.hoverIntent.minified", "jquery.lightbox-0.5.min", "application")
    = stylesheets
  %body
    #frame
      %a#header{"href"=>"/"}
        %h1 JSCONF 2009
      #datefocus
      #datebox
        .content
          April 24 &amp; 25, 2009
          %div
            Washington, DC USA
      #tweet_wrapper
        #tagline
          %span#mots
            &nbsp;
      #navigation.clearfix
        %h4
          %span navigate
        
        %ul
          %li#home
            %a{"href"=>"/"} 
              %span Home
          %li#register
            %a{"href"=>"http://jsconf2009.eventbrite.com"} 
              %span Accommodations
          %li#accommodations
            %a{"href"=>"/accommodations.html"} 
              %span Accommodations
          %li#speakers
            %a{"href"=>"/speakers.html"} 
              %span Speakers
          %li#sponsors
            %a{"href"=>"/sponsors.html"} 
              %span Sponsors
          %li#agenda
            %a{"href"=>"/agenda.html"} 
              %span Agenda
          %li#about
            %a{"href"=>"/about.html"} 
              %span About
      #earlybird
        %a{"href"=>"http://jsconf2009.eventbrite.com"}
          %span Early Bird Discount $450 if you register by March 11, 2009
      #wrapper
        #content
          = yield
      #footer
  
    =gajs