!!!
%html
  %head
    %title JSCONF 2009
    = stylesheets
    = javascripts("jquery-1.2.6.min", "jquery.jparallax", "application")
  %body
    #frame
      #header
        %h1 JSCONF 2009
      #tagline
        %span#mots
          don't call it dhtml
        = img "spinner.gif"
      #navigation
        %ul
          %li
            %a{"href"=>"/"} home
          %li
            %a{"href"=>"/speakers.html"} call for speakers
          / %li
          /             %a{"href"=>"/schedule.html"} schedule
          /           %li
          /             %a{"href"=>"/register.html"} register
      #wrapper
        #content
          = yield
        #sidebar
          #datebox
            Late April, 2009
            %div
              Washington, DC USA
          #subscriptionbox
            %h4 Register for Updates
            =subscription
    =gajs