!!!
%html
  %head
    %title JSCONF 2009
    ="<script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js\"></script>"
    = javascripts("jquery.cookie", "application")
    = stylesheets
  %body
    #frame
      #header
        %h1 JSCONF 2009
      #datefocus
      #datebox
        .content
          April 24 &amp; 25, 2009
          %div
            Washington, DC USA
      #tweet_wrapper
        #tagline
          %span#mots
            &nbsp;
      #navigation.clearfix
        %h4
          %span navigate
        
        %ul
          %li#home
            %a{"href"=>"/"} 
              %span Home
          %li#accommodations
            %a{"href"=>"/accommodations.html"} 
              %span Accommodations
          %li#speakers
            %a{"href"=>"/speakers.html"} 
              %span Speakers
          %li#sponsors
            %a{"href"=>"/sponsors.html"} 
              %span Sponsors
          %li#agenda
            %a{"href"=>"/agenda.html"} 
              %span Agenda
          %li#about
            %a{"href"=>"/about.html"} 
              %span About
 
      #wrapper
        #content
          = yield
        #sidebar
          #subscriptionbox
            %h4
              %span Register for Updates
            =subscription
            %p This will sign you up to our email list so you can receive updates as they are made available. We will never abuse this privilege by providing your information to anyone else.
         

    =gajs